<% set_meta_tags title: 'Home',
                 description: 'Latest entertainment, tech, sports news and viral content. All the information on what\'s happeing in the world right now. Latest trends, news and content.',
                 keywords: 'entertainment, tech, sports, news, viral, content, trend, information, latest, trending' ,
                 reverse: true %>

<div class="clearfix">
<!-- 5e4509ccccc4937b441924ca4e7f0b4ab9e87f89 -->
<div id="main_grid"  class="col-1 homepage_content">
<h2>Latest Stories</h2> 
<hr>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-8i+1w-dq+e9+ft"
     data-ad-client="ca-pub-2757163399431376"
     data-ad-slot="7527271583"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<% @posts.each do |post| %>
<% if (post.youtube_url.blank?) %>
  <div class="grid-item">
    <%= link_to (image_tag post.image.url(:main)), post %>
    <h3>
      <%= link_to post.title, post %>
    </h3>
    <p class="date">
    <%= post.created_at.strftime('%A, %B %d') %>
    </p>
  </div>
 <% end %> 
 <% end %> 
</div>

<div class="col-2 homepage_content">
  <h2>Trending Videos</h2>  
  <hr>
  <% @posts.each do |post| %>
  <% if !(post.youtube_url.blank?) %>
  <p><%= raw(youtube_embed_main(post.youtube_url)) %></p>
  <h3><a href="#"><%= link_to post.title, post %></a></h3>
  <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>  
  <% end %>
  <% end %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-8i+1w-dq+e9+ft"
     data-ad-client="ca-pub-2757163399431376"
     data-ad-slot="7527271583"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="col-3 homepage_content" >
  <h2>Trending</h2>  
  <hr>
  <% @trending.each do |trending| %>
  <h3><a href="#"><%= link_to trending.title, trending %></a></h3>
  <p class="date"><%= trending.created_at.strftime("%A, %b %d") %></p> 
  <% end %>
</div>

			
</div>