<% set_meta_tags title: 'Home',
                 description: 'Latest entertainment, tech, sports news and viral content. All the information on what\'s happeing in the world right now. Latest trends, news and content.',
                 keywords: 'entertainment, tech, sports, news, viral, content, trend, information, latest, trending' ,
                 reverse: true %>

<div class="wrapper wrapper_padding clearfix">

			<div class="col-1 about homepage_content">
				<h2>About</h2>	
				<hr>
				<p>
				  ChewTab is an upcoming internet media company based in <a href="https://en.wikipedia.org/wiki/New_Delhi">New Delhi</a>. </p> <p>We are building a startup for a long haul.</p>
				<p><a href=""><%= link_to "Join us", new_contact_path %></a> for the opportunity to learn, grow and make a major impact on our products.</p>
			</div>

			<div class="col-2 homepage_content">
				<h2>Stuff We've Written</h2>	
				<hr>
				<% @posts.each do |post| %>
					<h3><a href="#"><%= link_to post.title, post %></a></h3>
     				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>	
				<% end %>
			</div>

			<div class="col-3 homepage_content">
			<h2>Stuff We've Built</h2>	
				<hr>
				<% @projects.each do |project| %>
					<h3><a href="#"><%= link_to project.title, project %></a></h3>
     				<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>	
				<% end %>
			</div>
			
</div>