<% set_meta_tags title: @project.title,
                 description: @project.title,
                 keywords: @project.title.parameterize(',') , 
                 reverse: true %>

<div id="post_show_content" class="skinny_wrapper wrapper_padding">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- top_placement -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2757163399431376"
     data-ad-slot="4518166186"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			<header>
				<p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
			<h1><%= @project.title %></h1>
			<hr>
		    </header>
		<div id="content">
		
		<%= markdown @project.description %>

		<div class="button_wrapper">
		<a href="<%= @project.link %>" class="project_button" target="_blank"> Download <%= @project.title %></a>
		</div>

		<% if user_signed_in? %>
		  	<div id="admin_links">
		  		<%= link_to "Edit Project", edit_project_path(@project)%>
		  		<%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are you sure?"} %>
		  	</div>
		<% end %>

		</div>
		<hr>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2757163399431376"
     data-ad-slot="9287115438"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>		


