<%= form_for(@post, html: {multipart: true}) do |f| %>

<% if @post.errors.any? %>
<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
<ul>
<% @post.errors.full_messages.each do |msg| %>
<li>
<%= msg %>
</li>
<% end %>	
</ul> 
<% end %>

<%= f.label :title %><br>
<%= f.text_field :title %>

<br>
<br>

<%= f.label :content, "Write your article here" %><br>
<%= f.text_area :content %>

<br>
<br>

<%= f.label :tag_list %><br>
<%= f.text_field :tag_list %>

<br>
<br>

<br>
<br>

<%= f.label :youtube_url %><br>
<%= f.text_field :youtube_url %>

<br>
<br>


  <% if @post.image.exists? %>
      <%= image_tag @post.image.url %>
      <br>
      <br>
      <%= f.label :image, "Change the Thumbnail" %>
      <br>
      <%= f.file_field :image %>
  <% else %>
  	  <%= f.label :image, "Add a Thumbnail" %>
      <br>
      <%= f.file_field :image %>
  <% end %>
  

<br>
<br>

<%= f.submit %>

<% end %>