<% set_meta_tags title: @post.title,
                 description: @post.content,
                 keywords: @post.tag_list.concat(',').concat(@post.title.parameterize(',')) , 
                 reverse: true,
                  og: {
  					title:    		@post.title,
  					type:     		'article',
  					url:      		request.original_url,
  					image:    	    @post.image.url(:original),
  					description: 	@post.content.truncate(157),
  					site_name:      "Chewtab" 	
				},
				
				 article: {
  						published_time:  @post.created_at 
  					},

  				 twitter: {
 					 card:  "photo",
  					 image: {
    				 	_:      @post.image.url(:main),
    				 	width:  300,
    					height: 200,
  						}
					}				
  				 	 %>

<!--			
<style>#M260168ScriptRootC135135 {min-height: 200px;}</style>
-->

<!-- Composite Start -->
<!--
<div id="M260168ScriptRootC135135">
        <div id="M260168PreloadC135135">
        Loading...
    </div>
        <script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M260168ScriptRootC135135")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M260168ScriptRootC135135");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=135135;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/c/h/chewtab.com.135135.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script>
</div>
<!-- Composite End -->
<!--
<div style="text-align: center;">
<a href='http://trkur4.com/292520/32911?i=384790'><img src='http://pixxur.com/292520/384790-972x108.png'/></a>
</div>
-->


<div id="post_show_content" class="skinny_wrapper wrapper_padding">
			
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/6a2611d9d5eaee7d35af61a3a/4836b6a465e20a82146754427.js");</script>


<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

			<header>
				<p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
			<h1><%= @post.title %></h1>
			<hr style="margin-bottom: 1em; margin-top: 1em">
		  
		    </header>

			

		<div id="content">
<!-- top_placement -->
<ins class="adsbygoogle"
     style="display:block; margin-bottom: 1em;"
     data-ad-client="ca-pub-2757163399431376"
     data-ad-slot="4518166186"
     data-ad-format="auto"></ins>
		
		<!-- This is the thumbnail image, 
		not to be displayed here
		
		<p><%= image_tag @post.image.url %></p>
		-->
		
		<%= markdown @post.content %>
		<% if !(@post.youtube_url.blank?) %>
		<p><%= raw(youtube_embed_post(@post.youtube_url)) %></p>
		<% end %>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2757163399431376"
     data-ad-slot="9287115438"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
		<p class="tags">
  			TAGS:
  			<% @post.tags.each do |tag| %>
    			<%= link_to '#'.concat(tag.name), tag_path(tag) %> 
  			<% end %>
		</p>
		<!--
		<%= "#{@post.impressionist_count} views" %>
		-->
		</div>
		<hr>		
		<div id="share_box">
			<p>Share <%= @post.title %> </p>
			<%= social_share_button_tag(@post.title) %>
			
			<!--
			<a href='http://trkur4.com/292520/32911?i=384786'><img src='http://pixxur.com/292520/384786-600x400.png' /></a>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			-->
		</div>

		<% if user_signed_in? %>
		  	<div id="admin_links">
		  		<%= link_to "Edit Article", edit_post_path(@post)%>
		  		<%= link_to "Delete Artcile", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
		  	</div>
		<% end %>
		<hr>


		<!-- Composite Start 
		
<div id="M260168ScriptRootC130877">
        <div id="M260168PreloadC130877">
        Loading...
    </div>
        <script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M260168ScriptRootC130877")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M260168ScriptRootC130877");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=130877;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/c/h/chewtab.com.130877.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script>
</div>
<!-- Composite End -->

				
<!--
		<script type="text/javascript">
  	var vglnk = { key: '5dd0aeb0a52057817111eb951d4cd889' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>
-->



<div class="fb-comments" data-href= <%= request.original_url%> data-width="100%" data-numposts="15"></div>


  

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=301038950349786';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- top_placement -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2757163399431376"
     data-ad-slot="4518166186"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>




