<% set_meta_tags title: @post.title,
                 description: @post.content,
                 keywords: @post.tag_list.concat(',').concat(@post.title.parameterize(',')) , 
                 reverse: true,
                  og: {
  					title:    		@post.title,
  					type:     		'article',
  					url:      		request.original_url,
  					image:    	    @post.image.url(:main),
  					description: 	@post.content,
  					site_name:      "Chewtab" 	
				},
				
				 article: {
  						published_time:  @post.created_at 
  					},

  				 twitter: {
 					 card:  "photo",
  					 image: {
    				 	_:      @post.image.url(:main),
    				 	width:  300,
    					height: 200,
  						}
					}				
  				 	 %>

			
<style>#M260168ScriptRootC135135 {min-height: 200px;}</style>


<!-- Composite Start -->
<!--comment out temporarily
<div id="M260168ScriptRootC135135">
        <div id="M260168PreloadC135135">
        Loading...
    </div>
        <script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M260168ScriptRootC135135")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M260168ScriptRootC135135");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=135135;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/c/h/chewtab.com.135135.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script>
</div>
<!-- Composite End -->

<div id="post_show_content" class="skinny_wrapper wrapper_padding">
			<header>
				<p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
			<h1><%= @post.title %></h1>
			<hr>
		    </header>
		<div id="content">


		<!-- This is the thumbnail image, 
		not to be displayed here
		
		<p><%= image_tag @post.image.url %></p>
		-->
		
		<%= markdown @post.content %>
		<% if !(@post.youtube_url.blank?) %>
		<p><%= raw(youtube_embed_post(@post.youtube_url)) %></p>
		<% end %>
		<p class="tags">
  			TAGS:
  			<% @post.tags.each do |tag| %>
    			<%= link_to '#'.concat(tag.name), tag_path(tag) %> 
  			<% end %>
		</p>
		<%= "#{@post.impressionist_count} views" %>
		</div>
		<hr>
		<div id="share_box">
			<p>Share <%= @post.title %> </p>
			<%= social_share_button_tag(@post.title) %>
			
			<!--
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			-->
		</div>

		<% if user_signed_in? %>
		  	<div id="admin_links">
		  		<%= link_to "Edit Article", edit_post_path(@post)%>
		  		<%= link_to "Delete Artcile", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
		  	</div>
		<% end %>
		<hr>


		<!-- Composite Start -->
<div id="M260168ScriptRootC130877">
        <div id="M260168PreloadC130877">
        Loading...
    </div>
        <script>
                (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M260168ScriptRootC130877")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M260168ScriptRootC130877");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=130877;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/c/h/chewtab.com.130877.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
    </script>
</div>
<!-- Composite End -->


				

		<script type="text/javascript">
  	var vglnk = { key: '5dd0aeb0a52057817111eb951d4cd889' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>
