<% set_meta_tags title: @post.title,
                 description: @post.title,
                 keywords: @post.tag_list.concat(',').concat(@post.title.parameterize(',')) , 
                 reverse: true %>


<div id="post_show_content" class="skinny_wrapper wrapper_padding">
			<header>
				<p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
			<h1><%= @post.title %></h1>
			<hr>
		    </header>
		<div id="content">

		<!-- This is the thumbnail image, 
		not to be displayed here
		
		<p><%= image_tag @post.image.url %></p>

		-->
		
		<%= markdown @post.content %>

		<p class="tags">
  			TAGS:
  			<% @post.tags.each do |tag| %>
    			<%= link_to '#'.concat(tag.name), tag_path(tag) %> 
  			<% end %>
		</p>

		</div>
		<hr>
		<div id="share_box">
			<p>Share <%= @post.title %> </p>
			<!--<%= social_share_button_tag(@post.title) %> -->

			<%= social_share_button_tag(@post.title, :url => request.original_url, :image => ActionController::Base.helpers.asset_path(@post.image), desc: "The summary of page") %>

			
			<!--
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			-->
		</div>

		<% if user_signed_in? %>
		  	<div id="admin_links">
		  		<%= link_to "Edit Article", edit_post_path(@post)%>
		  		<%= link_to "Delete Artcile", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
		  	</div>
		<% end %>

		<hr>
		<%= render 'disqus' %>
		</div>

