<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: 'ChewTab' %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <script src="https://use.fontawesome.com/a3c0a16723.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/google_analytics' %>
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <meta name="theme-color" content="#8bc6db" />
  <meta name="propeller" content="6bb4842f0d7a7c16549ccd5b29328cd9" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <meta name="msvalidate.01" content="24ED46A9DF59781A85814401D390E2A2" />
  <meta name="p:domain_verify" content="48cf9e04fb3b4febbdbbcfc13addcd67"/>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2757163399431376",
    enable_page_level_ads: true
  });
</script>


<script src="//load.sumome.com/" data-sumo-site-id="1db1b0acddc2f61cc60d658832ae9b734e44d9bf58374a7e026d64b729b9ad06" async="async"></script>


</head>
<body>
<header id ="top_header" class="clearfix">
  <%= link_to "ChewTab", root_path, class:"name" %>
  <a href="#" class="menu"><i class="fa fa-bars"></i></a>
  <nav id="main_nav">
    <%= link_to "Stories", posts_path %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "About", "/pages/about" %> 
    <%= link_to "Contact", new_contact_path %>
    <div id="social_icons_nav">
    <a href="https://www.facebook.com/ChewTab"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://twitter.com/chewtab"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <!--  <a href=""><i class="fa fa-github" aria-hidden="true"></i></a> -->
    <a href="https://www.instagram.com/chewtab/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
    <% end %>
    </div>
  </nav>
</header>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>  
  <p class="alert"><%= alert %></p>
<% end %>
<%= yield %>

<footer id="main_footer">  
      <p class="copyright">&copy; 2017 ChewTab </p>
      <nav>
        <a href="https://www.facebook.com/ChewTab"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/chewtab"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <!--  <a href=""><i class="fa fa-github" aria-hidden="true"></i></a> -->
        <a href="https://www.instagram.com/chewtab/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </nav>
    </footer>



</body>
</html>
